.article-container {
  min-width: 350px;
  width: 400px;
  margin: 2rem;
  border: 1px solid white;
  border-radius: 4px;
}

.article-info-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.article-badge {
  color: white;
  font-size: 0.65rem;
  border: 1px solid white;
  border-radius: 9999px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.scroll-container {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  margin: 2rem;
}

/* Custom Scrollbar for WebKit Browsers (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.btn {
  cursor: pointer;
  border: 1px solid dodgerblue;
  padding: 1rem 2rem;
  width: max-content;
}

.btn:hover {
  background: dodgerblue;
  color: white;
  transition: 0.25s ease-in-out;
}

h4 {
  margin-bottom: 1rem;
}
